$brandColor: #ed4a4a; /* brand */

$positiveColor: #24d58d; /* positive info */
$positiveHoverColor: #20bf7e;
$positiveFocusColor: #d8f8eb;
$positiveBackgroundColor: #e9fbf4;

$negativeColor: #fec138; /* negative info */
$negativeHoverColor: #fcb413;
$negativeBackgroundColor: #fffbf0;

$actionColor: #00becd; /* buttons and links */
$actionHoverColor: #00aab7; /* hover of buttons and links */
$actionFocusColor: #40d9e5;
$actionBackgroundColor: #eff9f9;

$fontColor: #7b7b7b; /* default copy */
$grey: #b0b0b0;
$grey_light: #dddddd; /* default background */
$grey_extralight: #f1f1f1;
